/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2022, 11:18:40 PM
    Author     : SE140257 Hoang Anh Vu
*/

#openFile{
    -fx-background-image: url("../image/folder.png");
    -fx-background-size: 30 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#playButton{
    -fx-background-image: url("../image/play.png");
    -fx-background-size: 30 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#pauseButton{
    -fx-background-image: url("../image/pause.png");
    -fx-background-size: 30 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#stopButton{
    -fx-background-image: url("../image/stop-button.png");
    -fx-background-size: 30 20 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}




